[submodule "lib/erc8109"]
	path = lib/erc8109
	url = https://github.com/wjmelements/erc8109
[submodule "lib/fvm-solidity"]
	path = lib/fvm-solidity
	url = https://github.com/filecoin-project/fvm-solidity
